{% macro render_pagination(pagination) %}
  <nav aria-label="Pagination controls">
		<ul class="pagination">
    {% if pagination.has_prev %}
		<li class="page-item">
      <a class="page-link" href="{{ pagination.prev|url }}">&laquo; Previous</a>
		</li>
    {% else %}
		<li class="page-item disabled">
      <span class="page-link">&laquo; Previous</span>
		</li>
    {% endif %}
		<li class="page-item disabled">
		  <span class="page-link">{{ pagination.page }}</span>
		</li>
    {% if pagination.has_next %}
		<li class="page-item">
      <a class="page-link" href="{{ pagination.next|url }}">Next &raquo;</a>
		</li>
    {% else %}
		<li class="page-item disabled">
      <span class="page-link">Next &raquo;</span>
		</li>
    {% endif %}
	  </ul>
  </nav>
{% endmacro %}
